<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript"  charset="utf-8" src="/js/botForm.js"></script>
</head>
<div id="chat" class="">
  <div>
    <div class="portlet-body chat-widget">
      <div class="row">
        <div class="col-lg-12">
          <p class="text-center text-muted small">January 1, 2014 at 12:23 PM</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="media">
            <a class="pull-left" href="#">
                                        <img class="media-object img-circle" src="https://lorempixel.com/30/30/people/1/" alt="">
                                    </a>
            <div class="media-body">
              <h4 class="media-heading">Jane Smith
                <span class="small pull-right">12:23 PM</span>
              </h4>
              <p>Hi, I wanted to make sure you got the latest product report. Did Roddy get it to you?</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

</html>