<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
  <div class="panel-footer">
     <div class="input-group">
         <input id="message" type="text" class="form-control input-sm" placeholder="Ваше повідомлення..." />
         <span class="input-group-btn">
             <button class="btn btn-warning btn-sm" id="sendMessage">
                 Відправити</button>
         </span>
         <span class="input-group-btn">
             <button class="btn btn-warning btn-sm" id="endChat">
                 Завершити</button>
         </span>
         
     </div>
 </div>

  <script type="text/javascript"  charset="utf-8" src="/js/botForm.js"></script>
  <script type="text/javascript"  charset="utf-8" src="/js/chatSocket.js"></script>
</html>