<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<label for="emailComplaint">Електронна пошта :</label>
    <input type="email" class="form-control" id="emailComplaint" aria-describedby="emailHelp" placeholder="Електронна пошта">
     <div id='errorEmailComplaint'></div>
    
<label>Текст Вашої скарги:</label>
<textarea style= "resize: none; overflow:hidden ; border-radius: 5px;" placeholder="Текст скарги...." rows="10" name="comment[text]"
  id="comment_text" cols="33" class="ui-autocomplete-input" autocomplete="off" role="textbox"
  aria-autocomplete="list" aria-haspopup="true"></textarea> 

  <script type="text/javascript"  charset="utf-8" src="/js/botForm.js"></script>
  <script type="text/javascript"  charset="utf-8" src="/js/chatSocket.js"></script>
</html>