<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<label>Запишіть Ваші побажання та пропозиції:</label>
<textarea style= "resize: none; overflow:hidden ; border-radius: 5px;" placeholder="Вікно для написання скарги !" rows="13" name="comment[text]"
  id="comment_text" cols="34" class="ui-autocomplete-input" autocomplete="off" role="textbox"
  aria-autocomplete="list" aria-haspopup="true"></textarea> 

  <script type="text/javascript"  charset="utf-8" src="/js/botForm.js"></script>
  <script type="text/javascript"  charset="utf-8" src="/js/chatSocket.js"></script>
</html>