<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript"  charset="utf-8" src="/js/botForm.js"></script>
  <script type="text/javascript"  charset="utf-8" src="/js/chatSocket.js"></script>
</head>
<div class="form-group">
  <label for="selectRate">Оцініть роботу оператора :</label>
  <select id='selectRate' class="form-control">
         <option value="" selected="selected" >Ваша оцінка</option>
         <option value="1" >Не задовільно</option>
         <option value="2" >Задовільно</option>
         <option value="3">Може бути</option>
         <option value="4">Добре</option>
         <option value="5">Відмінно</option>
     </select>
</div>

</html>