<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript"  charset="utf-8" src="/js/botForm.js"></script>
</head>
<div class="form-group">
  <label for="selectAppeals">Виберіть тип звернення :</label>
  <select id='selectAppeals' class="form-control">
         <option value="default" >Виберіть звернення</option>
         <option value="indexes" >подати показник за е/е</option>
         <option value="lackOfElectricity">вимкнення в електромережах </option>
         <option value="amountDue">цікавить сума до оплати </option>
         <option value="complaint"> подати скаргу </option>
         <option value="consultation"> консультація </option>
     </select>
  <div class="loader">Завантаження...</div>
</div>
<div id = showDataForUser></div>

</html>