<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="/js/botForm.js"></script>
</head>
<div id='formThreeZone'>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="fullfpeak" placeholder="показник пікової зони">
      <div id='errorFullfpeak'></div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="halfPeak" placeholder="показник півпікової зони">
      <div id='errorHalfPeak'></div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="nightIndicator3" placeholder="показник нічної зони">
      <div id='errorNightIndicator3'></div>
    </div>
    <div id='errorRequest3'></div>
  </form>
  <button class="btn btn-default" id='submitBill3'>Подати показники</button>
</div>

</html>