<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript" src="/js/botForm.js"></script>
</head>
<form>
  <div class="form-group">
    <input type="text" class="form-control" id="dayIndicator2" placeholder="показник денної зони">
    <div id='errorIndicatorDay'></div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="nightIndicator2" placeholder="показник нічної зони">
    <div id='errorIndicatorNight'></div>
  </div>
  <div id='errorRequest2'></div>
</form>
<button class="btn btn-default" id='submitBill2'>Подати показники</button>

</html>